.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        i.fa.fa-cube
        | i7san
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=(title == 'Volunteer') ? 'active' : undefined)
          a(href='/volunteer') Volunteer
        li(class=(title == 'Organizations') ? 'active' : undefined)
          a(href='/organizations') Organizations
        if !user
          li(class=(title == 'Login') ? 'active' : undefined)
            a(href='/login') Login
          li(class=(title == 'Create Account') ? 'active' : undefined)
            a(href='/signup') Create Account
        else
          if (user.role === 'moderator' || user.role === 'admin')
      
          li(class=(title == 'My Impact') ? 'active' : undefined)
            a(href='/volunteering/'+user.username) My Impact
          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') My Account
              li.divider
              li
                a(href='/logout') Logout
