extends layout

block content
	.page-header
		for activity in activities
			h1= activity.name
			h2=activity.description

				br
			table(style='width: 400px; height: 81px;', border='0', cellpadding='0', cellspacing='0')
				tr
					td
						a(href='/volunteering/add/'+activity.shortUrl)
							button.btn.btn-primary.btn-signup Volunteer This Activity!
					td
						a(href='/volunteer')
							button.btn.btn-primary.btn-signup Find Another Activity!