extends layout

block content
	.page-header
		h3 Volunteer
	ul
		for activity in activities
			h4.li.list-group-item(class='div.media')= activity.name
				.media-left
				a(href='../volunteer/'+activity.shortUrl)
					activity.name
					button.btn.btn-primary(type='button') Join Activity
			