extends layout
block content
  div.row
    div.col-sm-4
      div.page-header
        h1 Add Organization
        form(method='post', action='/organization/add', role='form',enctype='multipart/form-data')
          div.form-group
          label Organization Name:
            input.form-control(type='text', name='name')
          label Organization Category:
            input.form-control(type='text', name='category')

            label Activity Categories
              for activity in activities
                input(type="checkbox", name="#{activity.name}", checked=(true===false ? "checked" : undefined))

            br
          div.form-group
            button.btn.btn-primary.btn-signup(type='submit') Add Organization
      