extends layout

block content
  div.row
    div.col-sm-4
      div.page-header
        h1 Add Volunteering
        form(method='post', action='/volunteering/add', role='form',enctype='multipart/form-data')
          div.form-group
            label Volunteer Activity:
            select.btn.btn-primary.dropdown-toggle(name= "activity")
              for activity in activities
                option(value=activity.name, selected="#{activity.name}") #{activity.name}
            br
            label What Inspired You To Volunteer Today?
            input.form-control(type='text', name='name')
            br
          div.form-group
            button.btn.btn-primary.btn-signup(type='submit') Volunteer!
      