extends layout
block content
  div.row
    div.col-sm-4
      div.page-header
        h1 Add Organization
        form(method='post', action='/organization/add', role='form',enctype='multipart/form-data')
          div.form-group
          label Organization Name
            input.form-control(type='text', name='name',required='')
          label Logo
            input(type='file', name='myFile',required='')
            br
          label Organization Description
            textarea.form-control(type='text', name='category', style='width:500px; height:200px',required='')
            label Organization Activities
              br
              .checkbox-inline
                for activity in activities
                  .checkbox
                    label
                      input(name='activity', type='checkbox', value=activity.name)
                      | #{activity.name}
            br
          div.form-group
            button.btn.btn-primary.btn-signup(type='submit') Add Organization
      