extends layout

block content
  div.row
    div.col-sm-4
      div.page-header
        h1 Add Project
        form(method='post', action='/activity/add', role='form',enctype='multipart/form-data')
          div.form-group
            br
            label Activity Name:
            input.form-control(type='text', name='name')
            br
            label Icon:
            input(type='file', name='myFile')
            br
            br
            label Activity Description:
            input.form-control(type='text', name='description')
            br
            label Activity Volunteer Hours:
            input.form-control(type='number', name='hours')
            br
            label Activity Points:
            input.form-control(type='number', name='points')
            br

          div.form-group
            button.btn.btn-primary.btn-signup(type='submit') Add Activity
      