extends layout

block content
  h1 i7san
  p.lead Grassroots Volunteering For The Arab World
  hr
  .row
    .col-sm-6
      h2 Projects
      p View one of our upcoming projects and get involved! 
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Leaderboard
      p Follow the volunteers making a difference in your community
      p
        a.btn.btn-default(href='#', role='button') View details »
