extends layout

block content
	.page-header
		h3 #{title}
	ul
		for organization in organizations
			h4.li.list-group-item(class='div.media')= organization.name
			h4 #{organization.category}
				.media-left
				br
				a(href='mailto:test@test.com')
					button.btn.btn-primary(type='button') Contact Organization
				a(href='../volunteer/')
					button.btn.btn-primary(type='button') Volunteer!