extends layout

block content
	.page-header
		h3 Project Details
	ul
		for project in projects
			li= project.name
			img.project(src="../"+project.imageUrl)
			button.btn.btn-primary(type='button') Join Project