extends layout

block content
	.page-header
		h3 All Projects
	ul
		for project in projects
			h4.li.list-group-item(class='div.media')= project.name
				.media-left
				project.name
				a(href='../project/'+project.name)
					img.project(src=project.imageUrl)
					br
				a(href='../project/'+project.name)
					button.btn.btn-primary(type='button') Join Project